<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer" th:fragment="footer">
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-center py-3">
                <img src="https://cdn-icons-png.flaticon.com/512/4349/4349097.png" width="55" height="55" alt="">
                <img src="https://cdn-icons-png.flaticon.com/512/2860/2860901.png" width="55" height="55" alt="">
                <img src="https://cdn-icons-png.flaticon.com/512/5146/5146879.png" width="55" height="55" alt="">
                <img src="https://cdn-icons-png.flaticon.com/512/4252/4252338.png" width="55" height="55" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOlt4nLV7yOw-SS8EgtjOB09sBcdmHq8Eu0w&usqp=CAU" width="55" height="55" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8RpEwbtMRb9GP4ilPHl1uahfyHanFv7o9ug&usqp=CAU" width="55" height="55" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkp5j0ZrfJ8aAVWK-2PLIR6FgLnVWpUqV9NQ&usqp=CAU" width="55" height="55" alt="">
                <img src="https://cdn-icons-png.flaticon.com/512/5496/5496543.png" width="55" height="55" alt="">
                <img src="https://cdn-icons-png.flaticon.com/512/2270/2270989.png" width="55" height="55" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrc6VgnSk26T8anzlj9vGT7U-OoRQlvpn9Iw&usqp=CAU" width="55" height="55" alt="">


            </div>
        </footer>
    </div>
</html>